:root {
  --mianColor: #f6f1f1;
  --mianColor1: #19a7ce;
  --mianColor2: #146c94;
  --mianColor3: #000000;
  --mainLink: 16px;
}

body {
  scroll-behavior: smooth;
}

/* navbar styles  */

.navbar {
  min-height: 50px;
  z-index: 100;
  width: 100%;
}
.navbarContainer {
  display: flex;
  min-height: 50px;
}
.navbar svg {
  height: 25px;
  width: 25px;
}
.toggleLink {
  height: 30px;
  color: var(--mianColor);
}
.imgBrand {
  height: 40px;
  transition: 0.5s;
}
.imgBrand:hover {
  transform: scale(1.1);
}
.searchNav {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  min-width: 200px;
  height: 30px;
  border: var(--mianColor1) 2px solid;
  border-radius: 10px;
}
.searchForm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.searchForm input {
  width: 90%;
  outline: none;
  border: none;
}
.searchbutton {
  width: 10%;
  background-color: var(--mianColor1);
  color: var(--mianColor);
  outline: none;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.navbarLink {
  background-color: #000;
}
.collapseLink {
  background-color: #000;
}
.collapseLink a {
  font-size: var(--mainLink);
  margin-right: 32px;
  color: var(--mianColor);
  text-decoration: none;
}
.navlink {
  margin-left: 16px;
}
.navlink a {
  color: #000;
}

@media screen and (max-width: 990px) {
  .searchNav {
    margin-left: 0px;
    margin-right: 0px;
    width: 90%;
  }
  .searchForm input {
    width: 80%;
    outline: none;
    border: none;
  }
  .searchbutton {
    width: 20%;
  }
}
@media screen and (max-width: 400px) {
  .navbarContainer {
    width: 100%;
    display: flex;
    min-height: 50px;
    flex-direction: column;
  }
  .navbarContainer .Nav {
    margin-right: 70vw;
  }
  .navlink {
    margin-left: 0px;
  }
}

/* home page styles  */

.homePage {
  min-height: 100vh;
  max-width: 100vw;
  position: relative;
}
.carousel {
  margin-top: 5vh;
  position: relative;
}
.carouselinfo {
  z-index: 2;
}
.Shade {
  border-radius: 10px;
  background-color: var(--mianColor3);
  width: 100%;
  height: 1000%;
  position: absolute;
  z-index: 1;
  bottom: 0;
  opacity: 0.4;
}
.swiperSection {
  margin-top: 5vh;
}
.mySwiper {
  margin-top: 32px;
}
.swiper {
  width: 100%;
  height: 220px;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  width: 100%;
  height: 180px;
  border-radius: 10px;
  object-fit: cover;
  z-index: 2;
}
.SwiperSlide {
  font-weight: 600;
  position: absolute;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  width: 100%;
  height: 180px;
  background-color: #000000d8;
  border-radius: 10px;
  z-index: 20;
  opacity: 0;
  transition: 0.5s;
}
.SwiperSlide:hover {
  opacity: 1;
}

.mySwiper1 {
  width: 100%;
  height: 380px;
  margin: 16px 0;
}

.SwiperSlideProduct {
  width: 100%;
  height: 380px;
  border-radius: 10px;
  background-color: var(--mianColor);
}

/* produc style */

.productBox {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.imgBox {
  height: 50%;
}
.imgBox img {
  margin-top: 16px;
}
.imgBox button {
  position: absolute;
  background-color: var(--mianColor);
  border: none;
  outline: none;
  right: 16px;
  top: 16px;
  color: var(--mianColor1);
}
.imgBox svg {
  height: 20px;
  width: 20px;
}

.productBox img {
  width: 100%;
}
.infoBox {
  margin-top:10px;
  height: 40%;
  width: 100%;
  text-align: start;
  padding: 0px 16px;
}
.description {
  margin: 4px 0;
}
.description span {
  font-size: 14px;
}
.countInfo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  align-items: center;
}

.countBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonBox {
  display: flex;
  flex-direction: column;
  padding: 0;
}
.buttonBox button {
  height: 8px;
  padding-right: 4px;
  color: var(--mianColor1);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  margin: 2px 0px;
}
.productBox {
  z-index: 100;
}
.countCart {
  padding: 0px;
  padding-left: 4px;
  color: var(--mianColor1);
  border: none;
  outline: none;
  background-color: var(--mianColor);
  margin-bottom: 6px;
}
.countCart svg {
  height: 20px;
  width: 20px;
}
.buttonBox svg {
  height: 15px;
  width: 15px;
}
.rating span svg {
  color: #00255255;
}
.reviews {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.reviews svg {
  color: var(--mianColor1);
}
.reviews span {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 460px) {
  .carousel h5,
  p {
    display: none;
  }

  .carousel img {
    z-index: 1;
  }
  .Shade {
    display: none;
  }

  .carouselinfo {
    display: none;
  }
}


/* product style  */

.productBoxs{
  margin:16px auto;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  flex-direction: column;
  height: 400px;
  max-width: 280px;
  background-color: var(--mianColor);
  border-radius:10px;
  position:relative
}
.imgBoxs{
  

}
.imgBoxbutton{
  position: absolute;
  background-color: var(--mianColor);
  border: none;
  outline: none;
  right: 16px;
  top: 16px;
  color: var(--mianColor1);
}


.Product{
   display: flex;
  justify-content: space-between;
  align-items: center; 
  flex-wrap:wrap;
}
@media screen and (max-width: 460px) {
  .productBoxs{
    height: 480px;
    max-width: 280px;
   
  }
}